<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>manClap0_0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>manClap0_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>21</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>manClap1_0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>41</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>manClap1_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>manClap2_0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>17</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>manClap2_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>manClap3_0.png</key>
		<dict>
			<key>x</key>
			<integer>19</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>17</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>manClap3_1.png</key>
		<dict>
			<key>x</key>
			<integer>19</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>