<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>blueRect</key>
		<dict>
			<key>delay</key>
			<real>0.25</real>
			<key>frames</key>
			<array>
				<string>blueRect.png</string>
				<string>blueRectSelected.png</string>
			</array>
		</dict>
		<key>monster0_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster0_0.png</string>
				<string>monster0_1.png</string>
			</array>
		</dict>
		<key>monster1_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster1_0.png</string>
				<string>monster1_1.png</string>
			</array>
		</dict>
		<key>monster2_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster2_0.png</string>
				<string>monster2_1.png</string>
			</array>
		</dict>
		<key>monster3_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster3_0.png</string>
				<string>monster3_1.png</string>
			</array>
		</dict>
		<key>monster4_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster4_0.png</string>
				<string>monster4_1.png</string>
			</array>
		</dict>
		<key>monster5_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster5_0.png</string>
				<string>monster5_1.png</string>
			</array>
		</dict>
		<key>monster6_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster6_0.png</string>
				<string>monster6_1.png</string>
			</array>
		</dict>
		<key>monster7_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster7_0.png</string>
				<string>monster7_1.png</string>
			</array>
		</dict>
		<key>monster8_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster8_0.png</string>
				<string>monster8_1.png</string>
			</array>
		</dict>
		<key>monster9_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster9_0.png</string>
				<string>monster9_1.png</string>
			</array>
		</dict>
		<key>monster10_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster10_0.png</string>
				<string>monster10_1.png</string>
			</array>
		</dict>
		<key>monster11_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster11_0.png</string>
				<string>monster11_1.png</string>
			</array>
		</dict>
		<key>monster12_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster12_0.png</string>
				<string>monster12_1.png</string>
			</array>
		</dict>
		<key>monster13_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster13_0.png</string>
				<string>monster13_1.png</string>
			</array>
		</dict>
		<key>monster14_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster14_0.png</string>
				<string>monster14_1.png</string>
			</array>
		</dict>
		<key>monster15_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster15_0.png</string>
				<string>monster15_1.png</string>
			</array>
		</dict>
		<key>monster16_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster16_0.png</string>
				<string>monster16_1.png</string>
			</array>
		</dict>
		<key>monster17_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster17_0.png</string>
				<string>monster17_1.png</string>
			</array>
		</dict>
		<key>monster18_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster18_0.png</string>
				<string>monster18_1.png</string>
			</array>
		</dict>
		<key>monster19_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster19_0.png</string>
				<string>monster19_1.png</string>
				<string>monster19_2.png</string>
			</array>
		</dict>
		<key>monster20_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster20_0.png</string>
				<string>monster20_1.png</string>
				<string>monster20_2.png</string>
			</array>
		</dict>
		<key>monster21_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster21_0.png</string>
				<string>monster21_1.png</string>
				<string>monster21_2.png</string>
			</array>
		</dict>
		<key>monster22_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster22_0.png</string>
				<string>monster22_1.png</string>
				<string>monster22_2.png</string>
			</array>
		</dict>
		<key>monster23_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster23_0.png</string>
				<string>monster23_1.png</string>
			</array>
		</dict>
		<key>monster24_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster24_0.png</string>
				<string>monster24_1.png</string>
			</array>
		</dict>
		<key>monster25_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster25_0.png</string>
				<string>monster25_1.png</string>
				<string>monster25_2.png</string>
				<string>monster25_3.png</string>
				<string>monster25_4.png</string>
			</array>
		</dict>
		<key>monster26_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster26_0.png</string>
				<string>monster26_1.png</string>
				<string>monster26_2.png</string>
			</array>
		</dict>
		<key>monster27_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster27_0.png</string>
				<string>monster27_1.png</string>
			</array>
		</dict>
		<key>monster28_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster28_0.png</string>
				<string>monster28_1.png</string>
				<string>monster28_2.png</string>
				<string>monster28_3.png</string>
				<string>monster28_4.png</string>
				<string>monster28_5.png</string>
				<string>monster28_6.png</string>
			</array>
		</dict>
		<key>monster29_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster29_0.png</string>
				<string>monster29_1.png</string>
				<string>monster29_2.png</string>
				<string>monster29_3.png</string>
				<string>monster29_4.png</string>
			</array>
		</dict>
		<key>monster30_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster30_0.png</string>
				<string>monster30_1.png</string>
				<string>monster30_2.png</string>
				<string>monster30_1.png</string>
				<string>monster30_3.png</string>
				<string>monster30_1.png</string>
			</array>
		</dict>
		<key>monster31_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster31_0.png</string>
				<string>monster31_1.png</string>
				<string>monster31_2.png</string>
				<string>monster31_3.png</string>
				<string>monster31_4.png</string>
			</array>
		</dict>
		<key>monster32_0.png</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>monster32_0.png</string>
				<string>monster32_1.png</string>
				<string>monster32_2.png</string>
				<string>monster32_3.png</string>
				<string>monster32_4.png</string>
			</array>
		</dict>
		<key>coin</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>coin0.png</string>
				<string>coin1.png</string>
				<string>coin2.png</string>
				<string>coin1.png</string>
			</array>
		</dict>
		<key>fire</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>fire0_0.png</string>
				<string>fire0_1.png</string>
				<string>fire0_2.png</string>
				<string>fire0_3.png</string>
				<string>fire0_4.png</string>
			</array>
		</dict>
		<key>bomb</key>
		<dict>
			<key>delay</key>
			<real>0.07000000000000001</real>
			<key>frames</key>
			<array>
				<string>bomb.png</string>
				<string>bomb1.png</string>
			</array>
		</dict>
		<key>explosion</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>explosion0.png</string>
				<string>explosion1.png</string>
				<string>explosion2.png</string>
				<string>explosion3.png</string>
				<string>explosion4.png</string>
				<string>explosion5.png</string>
				<string>explosion6.png</string>
				<string>explosion7.png</string>
			</array>
		</dict>
		<key>hand</key>
		<dict>
			<key>delay</key>
			<real>0.07000000000000001</real>
			<key>frames</key>
			<array>
				<string>hand3.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand.png</string>
				<string>hand2.png</string>
				<string>hand2.png</string>
				<string>hand2.png</string>
				<string>hand3.png</string>
				<string>hand3.png</string>
				<string>hand3.png</string>
				<string>hand4.png</string>
			</array>
		</dict>
		<key>door</key>
		<dict>
			<key>delay</key>
			<real>0.5</real>
			<key>frames</key>
			<array>
				<string>door0.png</string>
				<string>door1.png</string>
				<string>door2.png</string>
				<string>door3.png</string>
				<string>door4.png</string>
				<string>door5.png</string>
				<string>door6.png</string>
			</array>
		</dict>
		<key>candle</key>
		<dict>
			<key>delay</key>
			<real>0.15</real>
			<key>frames</key>
			<array>
				<string>doubleCandle0.png</string>
				<string>doubleCandle1.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
