<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
    <key>man0</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap0_0.png</string>
        <string>manClap0_1.png</string>
      </array>
    </dict>
    <key>man1</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap1_0.png</string>
        <string>manClap1_1.png</string>
      </array>
    </dict>
    <key>man2</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap2_0.png</string>
        <string>manClap2_1.png</string>
      </array>
    </dict>
    <key>man3</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap3_0.png</string>
        <string>manClap3_1.png</string>
      </array>
    </dict>
    <key>man4</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap0_1.png</string>
        <string>manClap0_0.png</string>
      </array>
    </dict>
    <key>man5</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap1_1.png</string>
        <string>manClap1_0.png</string>
      </array>
    </dict>
    <key>man6</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap2_1.png</string>
        <string>manClap2_0.png</string>
      </array>
    </dict>
    <key>man7</key>
    <dict>
      <key>delay</key>
      <real>0.25</real>
      <key>frames</key>
      <array>
        <string>manClap3_1.png</string>
        <string>manClap3_0.png</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
